/*стили главной секции*/
.main-section{
    position: relative;
    width: 100%;
}
.main-img {
    width: 100%;
    height: 670px;
    display: block;
    object-fit: cover;
}

.main-title {
    font-size: clamp(1rem, 5vw, 3.2rem);
    color: var(--light-text-color);
    font-weight: 600;
    position: absolute;
    display: inline-block;
    width: 68%;
    top: 35%;
    margin: 0 10vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.reservation-form{
    display: flex;
    background-color: var(--elem-color);
    width: 80%;
    height: 140px;
    position: absolute;
    bottom: 20%;
    align-items: center;
    left: 10vw;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0 5vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.reservation-form input{
    height: 40%;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.reservation-form input{
    width: 25%;
    border: 2px solid transparent;
    padding: 10px;
}

.reservation-form input:hover{
    border: 2px solid var(--main-color);
}

.reservation-form input:focus{
    outline: none;
    border: 2px solid var(--main-color);
}

/*слайдер*/
.slider{
    width: 100%;
    margin: 0 auto;
}

.slider-title{
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;
    margin: 3vw 20vw;
    font-weight: 400;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-color: #ccc transparent;
    scrollbar-width: thin;
    gap: 1rem;
    padding: 1rem;
    cursor: grab;
    scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
    height: 6px;
}

.slider-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.slider-item {
    flex: 0 0 70%;
    height: 500px;
    scroll-snap-align: start;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*блок информации*/
.why-us{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
}

.why-us-text{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    min-width: 340px;
    border: 2px solid var(--light-text-color);
    border-radius: 10px;
}

h2{
    font-size: clamp(1.2rem, 1.8vw, 1.8rem);
    font-weight: 600;
}

.why-us-text p{
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
    display: inline-block;
    text-align: justify;
    margin-top: 18px;
    font-weight: 400;
}

.why-us-text span{
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    font-weight: 600;
    margin: 1.4vw 0;
}

.advantages{
    max-height: 520px;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    min-width: 340px;
    background-color: var(--light-text-color);
}

.advantages-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.advantages .list-icon{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.advantages .icon{
    width: 53px;
    height: 53px;
}

.advantages h3{
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
}

.advantages h4{
    font-weight: 600;
}

.entertainment{
    border: 2px solid var(--light-text-color);
    width: 100%;
    padding: 2vw 10vw;
}

.entertainment h4{
    margin: 1vw 0;
    display: inline-block;
    width: 60%;
    font-size: clamp(0.8rem, 1.4vw, 1.2rem);
    font-weight: 400;
}

.entertainment-text{
    display: flex;
    justify-content: space-between;
}

.entertainment a{
    text-decoration: none;
    color: black;
    margin-bottom: 1vw;
    display: flex;
    align-items: flex-end;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}

.entertainment a:hover{
    opacity: 0.5;
}

.custom-swiper {
    height: 400px;
    width: 100%;
}

.reviews-img{
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover;
}

.reviews{
    position: relative;
    width: 100%;
    margin: 2vw 0;
}

.reviews h3{
    position: absolute;
    top: 10%;
    left: 10vw;
    color: var(--light-text-color);
    font-weight: 600;
    display: inline-block;
    width: 35%;
    font-size: clamp(1.8rem, 3vw, 8rem);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.reviews h3::before {
    content: "";
    position: absolute;
    inset: -10px;
    background: rgba(74, 108, 135, 0.37);
    filter: blur(30px);
    border-radius: 8px;
    z-index: -1;
}

.route{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
    flex-wrap: wrap;
}

.route .map{
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.route .map iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.route-text{
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.route-text h3, h4{
    font-weight: 550;
}

.footer {
    background-color: var(--light-text-color);
    padding: 2vw 10vw;
    font-size: 1rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8rem;
    opacity: 0.7;
}

.accordion-usage{
    width: 60%;
    margin: 0 auto;
}

/*медиа запросы*/
@media (max-width: 768px) {
    .main-title {
        bottom: auto;
        top: 10%;
        z-index: 1;
    }

    .main-title::before {
        content: "";
        position: absolute;
        inset: -10px;
        background: rgba(53, 45, 42, 0.53);
        filter: blur(30px);
        border-radius: 8px;
        z-index: -1;
    }

    .reservation-form{
        display: flex;
        flex-direction: column;
        height: 60%;
        padding: 20px;
    }

    .reservation-form input{
        width: 70%;
        height: 20%;
    }

    .reservation-form button{
        width: 65%;
        height: 20%;
    }

    .slider-item {
        height: 200px;
    }

    .why-us{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why-us-text span{
        text-align: center;
    }

    .advantages .icon{
        width: 28px;
        height: 28px;
    }
    .advantages{
        text-align: center;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entertainment h4{
        width: 70%;
    }

    .reviews h3{
        width: 80%;
    }

    .route .map{
        margin-top: 10px;
        height: 300px;
    }

    .route-text{
        margin-top: 20px;
        width: 100%;
        margin-left: 0;
        height: 500px;
    }
}
